* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 100vw;
    min-height: auto;
    margin: 0;
    padding: 0;
}
#mainSection{
    height: auto;
    min-height: 100vh;  
}
.title {
    display: flex;
    background-color: aliceblue;
    color: green;
    color: black;
    margin-top: 4rem;
    width: 60vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bolder;
    /* border: 1px solid red; */
    border-radius: 0.8rem;
    background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
  inset rgba(0,0,0,.6) 0 -3px 8px,
  inset rgba(252,255,255,.7) 0 3px 8px,
  rgba(0,0,0,.8) 0 3px 8px -3px;
}
h4 {
    margin: 1.2rem;
    color: blueviolet;
    color: #6d02c5;
    text-align: center;
    font-size: 1.2rem;
}
.bodySection{
    background-color: aliceblue;
    width: 60vw;
    height: auto;
    margin-top: 0.7rem;
    /* border: 1px solid red; */
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow:
    inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px;
}
#inputContainer {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
label {
    color: blueviolet;
    color: #6d02c5;
}
#numberContainer {
    text-align: center;
}
strong {
    font-size: 1.1rem;
}
input {
    width: 18vw;
    height: 6vh;
    font-size: 0.9rem;
    font-weight: 100;
    border: 1px solid black;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: lightgoldenrodyellow;
    color: black;
    font-weight: 300;
}
input:hover{
    border: 2px solid blue;
}
#inputNumber {
    width: 25vw;
    margin: 0.8rem;
}
#buttonContainer {
    display: flex;
    justify-content: space-around;
    margin: 0.8rem;
    margin-bottom: 1.5rem;
}
button {
    width: 8vw;
    height: 6vh;
    background-color: #00FFF6;
    background-color: rgb(12, 12, 12);
    background-color: rgb(60, 65, 70);
    color: white;
    /* color: white; */
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.4rem;
}
button:hover{
    background-color: rgb(108, 108, 248);
    background-color: blue;
}
#outputHeading {
    color: green;
    color: black;
    margin: 10rem 1rem 2rem 2.7rem ;
    /*margin-top: 3rem;
    margin-left: 2.7rem;
    margin-bottom: 2rem;*/
    font-size: 1.2rem;
}

li {
    margin: 0.3rem 1rem 0.3rem 4rem;
    list-style-type: square;
}
li::marker{
    color: green;
}
span {
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
}
#note {
    color: rgb(102, 60, 60);
    /* background-color: lightgoldenrodyellow; */
    /* background-color: rgb(100,100,100); */
    margin: 1rem 1rem 0.8rem 2.8rem;
}

